.App {
  text-align: center;
}

.App-logo {
/*  animation: App-logo-spin infinite 20s linear; */
  height: auto;
}

.App-header {
  background-color: #222;
  height: auto;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

.some {
  display: flex;
  flex-direction: row-reverse;
}

.someItem {
  margin: 5px;
}

.item {
  padding: 20px;
}

.image { 
  max-height: 150px;
}

.big-image {
  max-height: 70%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
